.signup {
  color: #df2020;
}

.google__btn {
  margin-left: 20px;
  padding: 5px 15px;
  font-size: 1.1rem;
  background: #282829;
  color: white;
  border-radius: 5px;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

.sign__up-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
