.review__text {
  color: #777;
  line-height: 30px;
}

.slider__content {
  flex-direction: column;
  margin: 40px 0 10px;
}

.slider__content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
